---
layout: layouts/base.njk
pagination:
  data: collections.topicPages
  size: 1
  alias: topicPage
permalink: /topics/{{ topicPage.topic }}/
topicArchive: true
eleventyComputed:
  title: "# {{ topicPage.topic }}"
---

<section class='topic-archive'>
    <header class='topic-archive-header'>
        <h1># {{ topicPage.topic }}</h1>
    </header>
    <section class='post-list' aria-label='Posts in topic {{ topicPage.topic }}'>
        <ul>
            {%- for post in topicPage.posts %}
                <li>
                    <div class='post-list-main'>
                        <a href='{{ post.url }}'>{{ post.data.title }}</a>
                        {%- if post.data.subtitle %}
                            <p class='post-list-subtitle'>
                                {{ post.data.subtitle }}
                            </p>
                        {%- endif %}
                    </div>
                    <time datetime='{{ post.date | isoDate }}'>{{ post.date | readableDate }}</time>
                </li>
            {%- endfor %}
        </ul>
    </section>
</section>
