---
layout: layouts/base.njk
permalink: /subscribe/confirmed/
title: You’re subscribed
description: Your email is confirmed. You’ll get a note when a new post goes up.
subscribePage: true
hideFooterSubscribe: true
noindex: true
eleventyExcludeFromCollections: true
---

<section class='status-page' aria-labelledby='confirmed-heading'>
    <h1 id='confirmed-heading'>You’re subscribed</h1>
    <p>Thanks for confirming. You’ll get an email when a new post is published.</p>
    <p class='status-page-note'>Browse <a href='/posts/'>posts</a> or head <a href='/'>home</a>.</p>
</section>
