---
layout: layouts/base.njk
permalink: /subscribe/
title: Subscribe
description: Get notified of new posts. No spam.
subscribePage: true
hideFooterSubscribe: true
eleventyExcludeFromCollections: true
---

{% include "subscribe.njk" %}
