---
layout: layouts/base.njk
permalink: /subscribe/
title: Subscribe
description: Get notified of new posts. No spam.
subscribePage: true
hideFooterSubscribe: true
hideSubscribePrompt: true
eleventyExcludeFromCollections: true
---

<section class="status-page" aria-labelledby="subscribe-heading">
	<h1 id="subscribe-heading">Subscribe</h1>
	<p>Get notified of new posts. No spam.</p>
	{% include "subscribe.njk" %}
</section>
